{{#> layout}}
<div class="about-container">
    <section class="about">
        <div class="about__content">
          <h2 class="about__title">About</h2>
          <p class="about__text">
            <strong>Tsuru No Mundo</strong> was born by chance in
            <strong>early 2016</strong>. Since then, I have been
            <strong>photographing origami</strong> cranes in various landscapes.
            Over the years, I have had the good fortune to do this in places
            like
            <strong
              >Argentina, Chile, Brazil, Uruguay, Portugal, Spain, France, the
              Netherlands, Germany, and Turkey.</strong
            >
            I don't travel as much as I would like, but whenever I have the
            chance, I do, and I take the opportunity to continue this project.
          </p>
        </div>
        <div class="about__content">
          <h3 class="about__title">The daily project</h3>
          <p class="about__text">
            <strong>Tsuru No Mundo: Daily</strong> is a spin-off designed to
            keep me connected with origami, even when I'm not traveling (which
            is most of the time). <strong>The idea is simple:</strong> to force
            myself to take breaks during the day, step away from my phone and
            computer, and <strong>engage in something manual</strong> in the
            physical world.
            <a href="https://daily.tsurunomundo.com.br" target="_blank"
              rel="noopener noreferrer"
              >See more than 500 tsurus and more about the daily project
              here!</a
            >
          </p>
        </div>
      </section>
      <section class="about">
        <div class="about__content">
          <h2 class="about__title">About me</h2>
          <p class="about__text">
            Hi, I'm <strong>Facundo</strong>. I'm an Argentinian
            <strong>vegan</strong> living in <strong>Curitiba, Brazil</strong>,
            since 2014. I work as a software developer, and in my free time, I
            dedicate myself to my artistic projects. You can learn more about me
            <a href="https://www.facundoleites.com" target="_blank" rel="noopener noreferrer">here</a>
          </p>
        </div>
        <div class="about__images">
          <img src="img/me/1.webp" alt="Me taking a picture of a tsuru" />
          <img src="img/me/2.webp" alt="Me taking a picture of a tsuru" />
          <img src="img/me/3.webp" alt="Me taking a picture of a tsuru" />
          <img src="img/me/4.webp" alt="Me taking a picture of a tsuru" />
          <img src="img/me/5.webp" alt="Me taking a picture of a tsuru" />
        </div>
      </section>
</div>
{{/layout}}