<footer class="footer">
  <p class="footer__main-text">
    <strong>Tsuru No Mundo</strong>
  </p>
  <div class="footer__row">
    <div>
      <p>
        From Curitiba, since 2016
      </p>
    </div>
    <section class="contact">
      <h2 class="contact__title">Contact</h2>
      <p class="contact__text">
        Write to me at
        <a href="mailto:ola@tsurunomundo.com.br"> ola@tsurunomundo.com.br</a>
      </p>
      <p class="contact__text">Or follow the project on:</p>
      <ul class="contact__links">
        <li>
          <a
            rel="me"
            href="https://mastodon.social/@tsurunomundo"
            target="_blank"
          >Mastodon</a>
        </li>
        <li>
          <a
            href="https://bsky.app/profile/tsurunomundo.com.br"
            target="_blank"
          >Bsky/tsurunomundo.com.br</a>
        </li>
        <li>
          <a
            href="https://bsky.app/profile/daily.tsurunomundo.com.br"
            target="_blank"
          >Bsky/daily.tsurunomundo.com.br</a>
        </li>
        <li>
          <a
            href="https://pixelfed.social/tsurunomundo"
            target="_blank"
          >Pixelfed</a>
        </li>
      </ul>
    </section>
  </div>
  <hr />
  <div class="footer__row">
    <p>
      <small>Developed by
        <a
          href="https://felicette.dev"
          target="_blank"
          rel="noopener noreferrer"
        >Felicette.dev</a></small>
    </p>
  </div>
</footer>