/* variables */
:root {
  --item-size: min(60vh, 60vw);
  --space-to-center: calc((100vh - var(--item-size)) / 2);
  --color-1: black;
  --color-2: black;
  --color-3: white;
}


/* basic style & reset */

html,
body {
  font-size:20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Danfo", serif;
}

* {
  box-sizing: border-box;
}


.wrapper {
  display: flex;
  background: radial-gradient(
    circle,
    var(--color-2) 0%,
    var(--color-1) 75%
  );
  height: 100vh;
  justify-content: center;
}

.wrapper .bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.wrapper .bg div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  filter: blur(1rem);
  pointer-events: none;
  border-radius: 2rem;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  height: calc(var(--space-to-center) / 1.5);
  color: var(--color-3);
}


header,footer{
  pointer-events: none;
}

header h1{
  padding: 0 0.5em ;
  backdrop-filter: blur(10px);
  border-radius: 0.5em;
  display: inline-block;
  color:var(--color-3);
  line-height: 1;
}


footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: calc(var(--space-to-center) / 1.5);
  color: var(--color-3);
}

footer small{
    display: inline-block;
    color:var(--color-3);
    padding: 0 0.5em ;
    backdrop-filter: blur(10px);
    border-radius: 0.5em;
}

.wrapper section {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.wrapper section ul {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-top: var(--space-to-center);
  padding-bottom: var(--space-to-center);
  overflow: hidden;
  width: 100%;
}

.wrapper section ul li {
  display: block;
  width: var(--item-size);
  height: var(--item-size);
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-size:cover;
}

/* media queries */

@media (orientation: portrait) {
  :root {
      --item-size: calc(90vw - 2rem)
  }
}

@media (max-width: 400px) {
  header h1 {
    width: min-content;
  }
}