/* variables */
:root {
  --item-size: min(60vh, 60vw);
  --space-to-center: calc((100dvh - var(--item-size)) / 2);
  --color-1: black;
  --color-2: black;
  --color-3: white;
}


/* basic style & reset */

html,
body {
  font-size:20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Danfo", serif;
  position: relative;
}

* {
  box-sizing: border-box;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--color-1);
  color: var(--color-3);
  font-size: 2rem;
  z-index: 1000;
}

.loading__text{
  font-size: 1.5rem;
  margin-top: 1rem;
}

.loading__description{
  font-size: 1rem;
  margin-top: 1rem;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  background: var(--color-1);
  color: var(--color-3);
  font-size: 2rem;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s;
}



.modal.modal--open{
  opacity: 1;
}

.modal.modal--close{
  pointer-events: none;
  opacity: 0;
}

.modal__header{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.modal__content{
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position:relative;
}
.modal__content .modal__content__image__loading{
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  backdrop-filter: blur(2rem);
  color: var(--color-1);
  text-shadow: 0 0 3rem var(--color-3);
  transition: opacity 1s;
}

.modal__content.modal__content--loading .modal__content__image__loading{
  opacity: 1;
  transition: opacity 0s;
}

.modal__content__image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.modal__header__close{
  cursor: pointer;
  padding: 1rem;
}



.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  background: radial-gradient(
    circle,
    var(--color-2) 0%,
    var(--color-1) 75%
  );
  max-width: 100%;
  height: 100dvh;
  justify-content: center;
}

.wrapper .bg{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  pointer-events: none;
  z-index:1;
}

.wrapper .bg div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  filter: blur(1rem);
  pointer-events: none;
  border-radius: 2rem;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  height: calc(var(--space-to-center) / 1.5);
  color: var(--color-3);
  z-index:4;
}


.header,footer{
  pointer-events: none;
}

.header h1{
  padding: 0 0.5em ;
  backdrop-filter: blur(10px);
  border-radius: 0.5em;
  display: inline-block;
  color:var(--color-3);
  line-height: 1;
}


footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: calc(var(--space-to-center) / 1.5);
  color: var(--color-3);
  z-index:2;
}

footer small{
    display: inline-block;
    color:var(--color-3);
    padding: 0 0.5em ;
    backdrop-filter: blur(10px);
    border-radius: 0.5em;
}

.wrapper section {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  z-index:3;
}

.wrapper section ul {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-top: var(--space-to-center);
  padding-bottom: var(--space-to-center);
  overflow: hidden;
  width: 100%;
}

.wrapper section ul li {
  display: block;
  width: var(--item-size);
  height: var(--item-size);
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-size:cover;
  cursor: pointer;
}

/* media queries */

@media (orientation: portrait) {
  :root {
      --item-size: calc(90vw - 2rem)
  }

  .modal{
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .header h1 {
    width: min-content;
  }
}