/* variables */
:root {
  --item-size: min(60vh, 60vw);
  --space-to-center: calc((100dvh - var(--item-size)) / 2);
  --header-height: calc(var(--space-to-center) / 1.5);
  --color-1: black;
  --color-2: black;
  --color-3: white;
  --bezier-curve-default: cubic-bezier(0.87, 0, 0.13, 1);
}

/* basic style & reset */

html,
body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Danfo", serif;
  position: relative;
  background: var(--color-1);
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--color-1);
  color: var(--color-3);
  font-size: 2rem;
  z-index: 1000;
}

.loading__text {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.loading__description {
  font-size: 1rem;
  margin-top: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  font-size: 2rem;
  background: var(--color-1);
  color: var(--color-3);
}

.modal {
  z-index: 1000;
  transform: translateY(100dvh);
  transition: opacity 2s var(--bezier-curve-default),
    transform 2s var(--bezier-curve-default);
}

.modal.modal--open {
  transform: translateY(0);
  transform: scale(1);
}

.modal.modal--open .modal__content {
  opacity: 1;
  transition: all 1s 1s var(--bezier-curve-default);
}

.modal.modal--close {
  pointer-events: none;
}

.modal.modal--close .modal__content {
  opacity: 0;
  transition: all 1s var(--bezier-curve-default);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.modal__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: all 2s var(--bezier-curve-default);
}

.modal__content .modal__content__image__loading {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2rem);
  color: var(--color-1);
  text-shadow: 0 0 3rem var(--color-3);
  transition: opacity 0.5s;
}

.modal__content.modal__content--loading .modal__content__image__loading {
  opacity: 1;
  transition: opacity 0s;
}

.modal__content__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal__header__close {
  cursor: pointer;
  font-size:2rem;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  max-width: 1em;
  max-height: 1em;
  padding: 0;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  user-select: none;
  font-family: sans-serif;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  rotate: 45deg;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  background: radial-gradient(circle, var(--color-2) 0%, var(--color-1) 75%);
  max-width: 100%;
  height: 100dvh;
  justify-content: center;
}
.wrapper,
.about {
  transition: transform 2s var(--bezier-curve-default);
}

.wrapper .wrapper__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  filter: blur(1rem);
  border-radius: 2rem;
  scale: 1;
  transition: scale 2s var(--bezier-curve-default);
}

.wrapper .wrapper__background div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  pointer-events: none;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  height: var(--header-height);
  color: var(--color-3);
  z-index: 4;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: var(--color-3);
  font-size: inherit;
  line-height: 1;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  max-width: 1em;
  max-height: 1em;
  padding: 0;
  font-family: sans-serif;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  font-weight: black;
  backdrop-filter: blur(10px);
  transition: rotate 2s var(--bezier-curve-default),
    background-color 2s var(--bezier-curve-default);
}

.header__button:active {
  opacity: 0.5;
}

.header__button:hover {
  opacity: 0.8;
}

.header__button:focus {
  outline: 2px solid var(--color-3);
}

.header,
.footer {
  pointer-events: none;
}

.header .header__text {
  font-size: inherit;
  padding: 0 0.5em;
  backdrop-filter: blur(10px);
  border-radius: 0.5em;
  display: inline-block;
  color: var(--color-3);
  line-height: 1;
}

.header .header__button {
  pointer-events: all;
}

.about {
  position: absolute;
  left: 0;
  top: 0;
  width: 100dvw;
  height: calc(100dvh - var(--header-height));
  background: var(--color-1);
  z-index: 999;
  transform: translateY(calc(-100% - var(--header-height)));
  transform-origin: center top;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  color: var(--color-3);
}

.about__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.about__images img {
  max-height: 30dvh;
  object-fit: contain;
}

.about__content {
  display: block;
  height: fit-content;
  max-width: 768px;
}

.about__content a {
  color: inherit;
  font-weight: 900;
}

.about__text {
  font-family: sans-serif;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
}

.about__text strong {
  font-weight: 700;
}

.about.--about-show {
  transform: translateY(0);
  overflow-y: auto;
}

.wrapper:has(~ .modal.modal--open) {
  transform: scale(0.5);
  transition: transform 1s var(--bezier-curve-default);
}

.wrapper:has(+ .about.--about-show) {
  transform: translateY(calc(100% - var(--header-height)));
}

.wrapper:has(+ .about.--about-show) .wrapper__background,
.wrapper:has(~ .modal.modal--open) .wrapper__background {
  scale: 0.5;
  transition: scale 1s var(--bezier-curve-default);
}

.wrapper:has(+ .about.--about-show) .header .header__button {
  rotate: 405deg;
  background: rgba(255, 0, 0, 1);
}

.wrapper:has(+ .about.--about-show) .list__container,
.wrapper:has(~ .modal.modal--open) .list__container {
  overflow: hidden !important;
}

.wrapper:has(+ .about.--about-show) .list__container .list li,
.wrapper:has(~ .modal.modal--open) .list__container .list li {
  opacity: 0 !important;
  scale: 0.5 !important;
  transition: opacity 1s var(--bezier-curve-default),
    scale 1s var(--bezier-curve-default);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: var(--header-height);
  color: var(--color-3);
  z-index: 2;
}

.footer a {
  color: var(--color-3);
  text-decoration: none;
  display: none;
}

.footer .footer__text {
  display: inline-block;
  color: var(--color-3);
  padding: 0 0.5em;
  backdrop-filter: blur(10px);
  border-radius: 0.5em;
}

.wrapper .list__container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.wrapper .list__container .list {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-top: var(--space-to-center);
  padding-bottom: var(--space-to-center);
  overflow: hidden;
  width: 100%;
}

.wrapper .list__container .list li {
  display: block;
  width: var(--item-size);
  height: var(--item-size);
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-size: 100% 100%;
  cursor: pointer;
  user-select: none;
  transition: opacity 1s 1s var(--bezier-curve-default);
}

/* media queries */

@media (orientation: portrait) {
  :root {
    --item-size: calc(90vw - 2rem);
  }

  .modal {
    flex-direction: column;
  }

  .about__images img {
    max-width: calc((100dvw - 5rem) / 3);
  }
}

@media (max-width: 400px) {
  .header .header__text {
    width: min-content;
  }
}
